:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --accent-color: #c9a450;
    --border-color: #EEEEEE;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--border-color);
}

.content-wrapper {
   padding: 10px;
}
